body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #777;
  background-color: #f3f3f3f0;
}
.legend i {
  width: 40px;
  height: 20px;
  float: right;
  margin-right: 15px;
  margin-left: 10px;
  opacity: 0.9;
}